<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>rmp3view</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="container">

	<div class="sixteen columns" id="playlist_container">
		<a name="to_playlist"></a>
		<h1>The Playlist</h1>
		<%= render :partial => "playlist/page" %>
	</div>

	<div class="sixteen columns" id="medialib_container">
		<a name="to_medialib"></a>
		<h1>The Medialib</h1>
		<%= render :partial => "medialib/page" %>
	</div>

</div>

<footer>
	<div class="container">
		<div class="two columns alpha">
			<a href="#to_playlist" class="navi_link">Playlist</a>
			<a href="#to_medialib" class="navi_link">Medialib</a>
		</div>
		<div class="fourteen columns omega">
			<div class="six columns alpha">
				<%= render :partial => "player/controls" %>
			</div>
			<div class="controls_container eight columns omega">
				<div class="controls" id="medialib_controls">
					<%= render :partial => "medialib/controls" %>
				</div>
				<div class="controls" id="playlist_controls">
					<%= render :partial => "playlist/controls" %>
				</div>
			</div>
		</div>
	</div>
</footer>

<div id="recreate_confirm" title="Re-create the media database?">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Re-creating the media database will take a while. Are you sure?
	</p>
</div>

<div id="recreation_overlay">
	<h1 id="recreation_overlay_text">Re-creating the media database...</h1>
	<img src="/ajax-loader.gif" />
</div>

</body>
</html>
