<!DOCTYPE html>
<html>
<head>
  <title>Rmp3view</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="frame">
<div id="framecontainer">

<!--
	<div class="page" data-page="0">
		<a href="#" id="recreate_overlay_show">Re-create media database.</a>	
	</div>
-->
	<div class="page" data-page="0">
		<%= render :partial => "playlist/page" %>
	</div>

	<div class="page" data-page="1">
		<%= render :partial => "medialib/page" %>
	</div>

</div>
</div>

<footer>
	<%= render :partial => "player/page" %>
</footer>

<div id="recreate_confirm" title="Re-create the media database?">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Re-creating the media database will take a while. Are you sure?
	</p>
</div>

<div id="recreation_overlay">
	<h1 id="recreation_overlay_text">Re-creating the media database...</h1>
	<img src="/ajax-loader.gif" />
</div>



</body>
</html>




