<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>rmp3view</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="sixteen columns">
		<%= render :partial => "info/page" %>
	</div>

	<div class="sixteen columns">
		<!--<div class="row">-->
			<div class="six columns alpha">
				<%= render :partial => "playlist/page" %>
			</div>
			<div class="ten columns omega">
				<%= render :partial => "medialib/page" %>
			</div>
		<!--</div>-->
	</div>
</div>
<footer>
	<%= render :partial => "player/page" %>
</footer>

<div id="recreate_confirm" title="Re-create the media database?">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Re-creating the media database will take a while. Are you sure?
	</p>
</div>

<div id="recreation_overlay">
	<h1 id="recreation_overlay_text">Re-creating the media database...</h1>
	<img src="/ajax-loader.gif" />
</div>



</body>
</html>




